body {
    background: #27272f;
    margin: 0;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #27272f;
    float: left;
    position: absolute;
    z-index: 2;
}

#video {
    width:100%;
    height: 100%;
    background: #27272f;
    float: left;
    position: absolute;
    z-index: 2;
}

.remote-button {
    width: 50%;
    height: 25%;
    float: left;
}

#title {
    float: left;
    border: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 32px;
    position: absolute;
    z-index: 3;
}

#buttons {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 3;
    overflow: auto;
}

.button {
    color: white;
    width: 50px;
    z-index: 4;
    height: 25px;
    float: left;
    border: 1px solid white;
    margin: 0 0 0 10px;
    font-size: 25px;
    cursor: pointer;
}

#remote {
    width: 60px;
    height: 16px;
    position: absolute;
    color: white;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
}

.avoid-clicks {
    pointer-events: none;
}